<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.financial.dao.ProfileDao">
  <!-- 查询所有收益信息 -->
	<select id="getProfileInfo" resultType="com.financial.entity.ProfileInfo">
		select * from profile
	</select>
	
	<!--查询昨日收益-->
	<select id="getyesterdayMoney" resultType="java.lang.Double">
		select profile_yesterday from profile
	</select>
	<!-- 查询产品总收益 -->
	<select id="getprofileMoney" resultType="java.lang.Double">
		select profile_money from profile
	</select>
	
	<!-- 插入收益 -->
	<insert id="insertProfileInfo" parameterType="com.financial.entity.ProfileInfo" keyProperty="id">
		insert into profile(profile_pro_id,profile_pro_name,buy_money,profile_yesterday,profile_money,flag,time) 
		values
		(#{profileProId},#{profileProName},#{buyMoney},#{profileYesterday},#{profileMoney},#{flag},#{time})
	</insert>
	
	<!-- 批量更新收益 -->
	<update id="updateProfileBatch" parameterType="java.util.List">
	 update profile
	  <trim prefix="set" suffixOverrides=",">
             <trim prefix="profile_yesterday=case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                      when profile_id=#{item.profileId} then #{item.profileYesterday}  
                 </foreach>
              </trim>
              <trim prefix="profile_money=case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                      when profile_id=#{item.profileId} then #{item.profileMoney}
                 </foreach>
              </trim>
      </trim>
	 where profile_id in
	 <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	 	#{item.profileId}
	 </foreach>	
	</update>
	
	<!--查询收益信息，万份收益-->
	<select id="getProfileInfoAndDayPro" resultType="com.financial.entity.ProfileInfo">
		select pro.profile_id profileId,pro.profile_yesterday profileYesterday,
		pro.profile_money profileMoney,pro.buy_money buyMoney,p.day_pro dayPro
		from profile pro join product p
		on pro.profile_pro_id = p.id
		where pro.flag = 1
	</select>
	
	<!-- 更新flag -->
	<update id="updateFlag">
	   profile set profile.flag=0
	   where profile.time in
	   <foreach collection="list" item="time" open="(" separator="," close=")">
	   
	   </foreach>
	</update>
	
	
	
	
</mapper>